:root {
  --bg-color: rgb(247, 34, 16);
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.logo-img {
  width: 396px;
  height: 60px;
  padding-left: 20px;
}

.weather-img {
  width: 24px;
  height: 24px;
}

date {
  line-height: 42px;
}

.header-ctn {
   background-color: var(--bg-color);

}

.header1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 10px;

  color: white;
}

.header1 > * {
  align-self: flex-end;
}

.nav-sign {
    color: white; 
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    padding-bottom: 0;
    text-transform: uppercase;
    vertical-align: bottom;
}

.nav-subs {
    background-color: white;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
}

.header-nav {
  background-color: white;
  padding: 16px 0;
  margin-bottom: 5px;
  border-bottom: 0.1px solid rgb(228, 228, 228);
}

.nav-link {
  color: black;
  font-size: 19px;
  line-height: 24px;
  padding: 0 20px;
  font-weight: bold;
  border-right: 1px solid lightgray;
}

.nav-link:hover {
  color: var(--bg-color);
}

.last-link {
  font-size: 16px;
  color: rgba(0,0,0,.55);
  font-weight: 400;
  border-right: none;
}

.last-link > img {
  height: 16px;
  width: 16px;
}

/* main sec*/

.news-ctn {
  padding: 10px 15px;
}

.col1, .col2, .col3, .col4 {
  float: left;
  min-height: 300px;
}

.col4 {
  width: 72%;
  position: relative;
}

.col1 {
  width: 40%;
  padding-left: 15px;
  padding-right: 15px;

}

.col2 {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 40%;
  padding-left: 15px;
  padding-right: 15px;
}

.col2-ctn{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.col3{
  width: 28%;
  padding-left: 15px;
}


/* feature - articles #col1 */

.col-title {
  color: rgba(3,3,3,.4);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 0;
}

.art-img > img {
  height: 100%;
  width: 100%;
}

.art-img {
  position: relative;
}

.img-caption{
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  padding: 8px 15px 9px;
  font-size: 17px;
  color: var(--bg-color);
  background-color: rgba(255,255,255,.9);
}

.art-cnt {
  padding: 10px 0;
}

.art-cnt > p {
  font-size: 15px;
}

.art-cnt > h4 {
  font-weight: 700;
  color: black;
}

.ct-sec {
  display: flex;
  justify-content: space-evenly;
}

.ct-art{
  flex: 1;
  padding-right:15px;
}

.ct-art-img{
  position: relative;
  display: block;
}

.ct-art-img > img{
  width: 100%;
}

.ct-art-cnt{
  padding: 15px 0;
}

.ct-art-cnt > p {
  font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
  color: rgba(39,39,39,.5);
  margin-bottom: 10px;
}

.ct-art-cnt > h4 {
  font-weight: 400;
  color: #272727;
  font: 20px/22px "Lora",serif;
  margin-bottom: 10px;

}

/* more stories*/

.ms-art-img {
  float: left;
  height: 95 px;
  margin-right: 15px;
}

.ms-art-cnt > h4 {
  font-size: 17px;
  color: black;
  font-weight: 700;
}

.ms-art-cnt > p {
  font-size: 15px;
  color: #333333;
}

/*Col 3*/

.op-title{
  padding-bottom: 0;
}

.opinion-ctn{
  padding-right: 15px;
}

.opinion-art {
  display: flex;
  padding-top: 10px;
  border-bottom: 0.1px solid rgb(228, 228, 228);
}

.opinion-art:last-child {
  border-bottom: none;
}

.opinion-img {
  height: 95 px;
  margin-right: 15px;
  width: 20%;
}

.opinion-cnt{
  width: 80%;
}

.op-p {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 5px;
  font-weight: 700;
}

.op-h4 {
  font-size: 17px;
  color: black;
  font-weight: 700;
}

/*debate*/


.debate-art {
  display: flex;
  margin-top: 10px;
  border-top: 4px solid #f92859;
  margin-bottom: 10px;
}

.debate-art2{
  border-top: 4px solid #1c87fb;
}

.debate-vs {
  position: relative;
  margin-bottom: 40px;
}

.debate-img {
  height: 95px;
  width: 95px;
  margin-right: 15px;
  width: 25%;
}

.debate-cnt{
  padding: 10px;
  width: 85%;
}

.vs-line1 {
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
}
.vs-line2 {
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
}

.vs-text {
  padding-top: 12px;
}

.vs-img {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: absolute;
  top: -5px;
  right: 0;
}

.vs-logo {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/40px "Roboto Condensed",sans-serif;
  text-align: center;
  margin: 14px auto 18px;
}

.lnews-ctn :last-child{
  border: none;
}

.lnews-art {
  display: flex;
  border-bottom: 0.5px solid rgb(228, 228, 228);
  padding: 10px 0;
}

.lnews-img {
  height: 95px;
  width: 95px;
  margin-right: 15px;
  width: 25%;
}

.lnews-cnt{
  padding: 0 10px 10px 10px;
  width: 85%;
}

.s-insight-ctn {
  margin-top: 30px;
}

.s-insight {
  border: 0.5px solid rgb(228, 228, 228);
  margin-top: 20px;
}

.s-insight-cnt{
  padding: 5px 10px;
}

.blue-text{
  color: #3581f4;
}

/* In Magzine*/

.p-ctn {
  padding: 15px;
}

.mag-title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 19px;
  line-height: 19px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}

.in-mag-row1 {
  align-items: flex-end;
  margin: 30px 0;
}

.mag-caption{
  color: white;
  margin-top: 15px;
}

.m-caption {
  text-transform: uppercase;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  padding: 7px;
  font-size: 16px;
  color: white;
  background-color: var(--bg-color);
}

.mag-tag {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  padding: 0 7px;
  font-size: 16px;
  color: var(--bg-color);
  background-color: rgba(255,255,255,.9);  
}

.ad-title {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  padding: 12px 0;
  background-color: #f4f5f6;
}

.mag-img > img {
  height: 100%;
  width: 100%;
  min-height: 220px;
}

.mag-cnt > h4 {
  padding: 10px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: black;
}

.ed-row {
  margin: 15px 0;
}

.slide-ctn{
  border-bottom: 1px solid #d9d9d9;
}

.slide-caption {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}
.slide-cnt > h4{
  padding: 10px 0;
  font-weight: 700;
  font-size: 22px;
  color: black;
}

/* other stories*/

.reg-ctn {
  border-bottom: 1px solid #d9d9d9;
}

.reg-title{
  font-size: 22px;
  font-weight: 700;
  color: inherit;
  padding: 8px 0;
  color: var(--bg-color);
  background-color: rgba(255,255,255,.9);  
}


.reg-art {
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

.reg-arts :last-child {
  border-bottom: none;
}

.end-border {
  display: block;
  background-color: #f4f5f6;
  height: 2px;
  position: absolute;
  top: 0;
  left: -30px;
  right: -30px;
}